attrs==16.2.0
bsddb3==6.2.1
cffi==1.8.3
constantly==15.1.0
cryptography==1.5.2
cssselect==1.0.0
decorator==4.0.10
enum34==1.1.6
ez-setup==0.9
idna==2.1
imageio==2.0.1
incremental==16.10.1
ipaddress==1.0.17
lxml==3.6.4
moviepy==0.2.2.11
music21==3.1.0
mysql==0.0.1
MySQL-python==1.2.5
numpy==1.11.2
parsel==1.0.3
Pillow==3.4.2
pipdeptree==0.8.0
publicsuffix==1.1.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.17
PyDispatcher==2.0.5
pymongo==3.3.1
PyMySQL==0.7.9
pyOpenSSL==16.2.0
pytesseract==0.1.6
pyzmq==16.0.2
queuelib==1.4.2
requests==2.11.1
requests-file==1.4.1
Scrapy==1.2.1
scrapy-deltafetch==1.2.0
service-identity==16.0.0
six==1.10.0
tld==0.7.6
tldextract==2.0.2
tqdm==4.10.0
Twisted==16.5.0
unroll==0.1.0
w3lib==1.15.0
zmq==0.0.0
zope.interface==4.3.2
